<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<div class="card">
<!--
  <div class="max-w-6xl mx-auto px-2">
-->
    <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex">
      <img class="bg-cover bg-bottom" style="background-size: cover;" src={{petition.logo}}>
      <div class="col">
        <div class="p-1 md:p-1">
          <p class="font-bold text-md md:text-2md">{{petition.name}}</p>
          <p class="text-gray-700 md:text-md"></p>
        </div>
        <div class="text-gray-600 text-sm md:text-base info-box">{{petition.description1}}</div>
        <div class="m-1 md:m-1 bg-gray-100">
          <div class="sm:flex sm:justify-between sm:items-center">
            <div>
              <div class="text-md-1 px-2 text-gray-700"><span class="text-gray-900 font-bold">{{petition.numberSignatures}}</span> people signed*</div>
              <div class="flex items-center">
              </div>
            </div>
            <a href="/petition/{{petition.id}}">
            <button class="px-1 md:py-1 md:px-1 bg-indigo-700 hover:bg-indigo-600 font-bold text-white md:text-lg rounded-lg shadow-md">Sign now</button>
            </a>
          </div>
          <div class="text-gray-600 text-sm md:text-base">*Only verified citizens are allowed to sign.</div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->



<br>
