<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<img src={{petition.logo}} alt="Avatar">
<div class="container">

  <div>

  <h1>{{petition.name}}</h1>

<!--
    <h6 class="px-4"><petizio-star-rating></petizio-star-rating></h6>
-->
  </div>

  <p>{{petition.description1}}</p>


  <div>
    <p>{{petition.description2}}</p>
    <div class="row">
        <div class="col-sm-4">
          <div class="single-about-add-info">
            <h3>Number</h3>
            <p>2314234</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-about-add-info">
            <h3>Category</h3>
            <p>Social</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-about-add-info">
            <h3>Key</h3>
            <p>qwe21239a87sdd281</p>
          </div>
        </div>
      </div>
  </div>




  <p>Progress :</p>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>


</div>
