:host {
  margin: 5px 25px 5px 25px;

}

.content {
  margin: 5px 40px 5px 40px;
}

h2 {
  font-weight: lighter;
  margin-left: 20px;
  margin-bottom: 5px;
}

hr {
  border-color: rgba(144,218,197, 0.5);
  box-shadow: 0px 1px 20px 0 #90DAC5;
  box-shadow: #90DAC5;
}

.upload-button{
  border:0;
  position: absolute;
  right: 50px;
  margin-bottom: 150px;
}