<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="card">
  <div>
    <div>
<!--
      <form *ngIf="!signature.created" >
-->
      <form>
        <div class="form-group">
          <label for="example_pseudoID">Your Personal pseudoID</label>


          <button  type="button" class="btn float-right" (click)="getIDDialog()">
            Don't have pseudoID?</button>

          <input type="text" class="form-control" id="example_pseudoID" aria-describedby="pseudoID_Help" placeholder="pseudoIDID77777XXXXX">
        </div>
<!--        <br>
        <div class="form-group">
          <label for="example_Key">Your Private Key</label>
          <input type="password" class="form-control" id="example_Key" placeholder="xxxxxxx7777777">
        </div>-->
        <button  type="button" class="btn btn-success btn-s" (click)="giveSignature()">
          Sign</button>
      </form>
      </div>
    <div class="rating" style="display: flex; flex-direction: row-reverse" value ="getPetitionRating()">
<!--
      <petizio-star-rating *ngIf="signature.hasBusinessRelation" [auditChecksum]= "signature.checksum" [comment] = "questionComment" [starsCount] = "rating" [readonly] = "false"></petizio-star-rating>
-->

    </div>
  </div>
</div>
